20190128_XML/xml/bml.dtd

<?xml version="1.0" encoding="euc-kr"?>
<!-- 엘리먼트 선언 -->
<!ELEMENT booklist (book*)>
	<!ELEMENT book (isbn, title, author+, publisher, price)>
		<!ELEMENT isbn (#PCDATA)>
		<!ELEMENT title (#PCDATA)>
		<!ELEMENT author (#PCDATA)>
    	<!ELEMENT publisher (#PCDATA)>
		<!ELEMENT price (#PCDATA)>
<!-- 속성 선언 -->
<!ATTLIST book 		
		kind CDATA #REQUIRED>

